In [21]:
import pandas as pd

In [22]:
df=pd.read_csv('fifa_s2.csv')
df.head(10)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,1179,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,5479,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,8205,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,9014,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,19521,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0
5,20209,Ricardo Costa,37,Portugal,74,74,CD Tondela,750.0,4,Right,2.0,2.0,LCB,2017,01/01/2019,6.000000,181.0,1600.0
6,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,01/01/2022,6.166667,183.0,127100.0
7,24630,Pepe Reina,35,Spain,83,83,Milan,6000.0,56,Right,3.0,1.0,GK,2018,NaN,6.166667,203.0,10200.0
8,27532,D. de Vries,37,Netherlands,66,66,Celtic,40.0,7,Right,1.0,1.0,GK,2016,01/01/2019,6.250000,212.0,72.0
9,45083,S. von Bergen,35,Switzerland,73,73,BSC Young Boys,950.0,12,Right,2.0,2.0,LCB,2013,01/01/2022,6.000000,174.0,1400.0

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2399 entries, 0 to 2398
Data columns (total 18 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        2399 non-null   int64
 1   Name                      2399 non-null   object
 2   Age                       2399 non-null   int64
 3   Nationality               2392 non-null   object
 4   Overall                   2399 non-null   int64
 5   Potential                 2399 non-null   int64
 6   Club                      2158 non-null   object
 7   Value                     2142 non-null   float64
 8   Wage                      2399 non-null   int64
 9   Preferred Foot            2399 non-null   object
 10  International Reputation  2389 non-null   float64
 11  Skill Moves               2393 non-null   float64
 12  Position                  2378 non-null   object
 13  Joined                    2399 non-null   int64
 14  Contract Valid Until      2126 non-null   object
 15  Height                    2399 non-null   float64
 16  Weight                    2399 non-null   float64
 17  Release Clause            2396 non-null   float64
dtypes: float64(6), int64(6), object(6)
memory usage: 337.5+ KB

In [24]:
df.isna().sum()/len(df)

ID                          0.000000
Name                        0.000000
Age                         0.000000
Nationality                 0.002918
Overall                     0.000000
Potential                   0.000000
Club                        0.100459
Value                       0.107128
Wage                        0.000000
Preferred Foot              0.000000
International Reputation    0.004168
Skill Moves                 0.002501
Position                    0.008754
Joined                      0.000000
Contract Valid Until        0.113797
Height                      0.000000
Weight                      0.000000
Release Clause              0.001251
dtype: float64

Я бы удалила колонку ID, она не является информативной и влияет на поиск полных дубликатов.

Больше ненужных колонок, то есть колонок-дубликатов или колонок, значения которых повторяются полностью или по смыслу, на мой взгляд здесь нет.

In [25]:
df.drop('ID',axis=1,inplace=True)
df.head(10)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,G. Buffon,40,Italy,88,88,Paris Saint-Germain,4000.0,77,Right,4.0,1.0,GK,2018,01/01/2019,6.333333,203.0,7400.0
1,Casillas,37,Spain,82,82,FC Porto,1500.0,10,Left,4.0,1.0,NaN,2015,01/01/2019,6.083333,185.0,3000.0
2,Braga,35,Portugal,70,70,CD Aves,750.0,5,Right,1.0,3.0,LCM,2017,01/01/2019,5.916667,165.0,1600.0
3,A. Robben,34,Netherlands,84,84,FC Bayern München,15500.0,110,Left,4.0,4.0,RM,2009,01/01/2019,5.916667,176.0,25600.0
4,J. Ibehre,35,England,61,61,Cambridge United,120.0,2,Right,1.0,2.0,ST,2017,01/01/2019,6.333333,203.0,210.0
5,Ricardo Costa,37,Portugal,74,74,CD Tondela,750.0,4,Right,2.0,2.0,LCB,2017,01/01/2019,6.000000,181.0,1600.0
6,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405,Right,5.0,5.0,ST,2018,01/01/2022,6.166667,183.0,127100.0
7,Pepe Reina,35,Spain,83,83,Milan,6000.0,56,Right,3.0,1.0,GK,2018,NaN,6.166667,203.0,10200.0
8,D. de Vries,37,Netherlands,66,66,Celtic,40.0,7,Right,1.0,1.0,GK,2016,01/01/2019,6.250000,212.0,72.0
9,S. von Bergen,35,Switzerland,73,73,BSC Young Boys,950.0,12,Right,2.0,2.0,LCB,2013,01/01/2022,6.000000,174.0,1400.0

Пустые значения содержатся в колонках Nationality, Club, Value, International Reputation, Skill Moves, Position, Contract Valid Untill, Release Clause. Колонка с возрастом не содержит пустых значений, поэтому для решения задачи 3 о возрасте, я бы не стала ничего удалять из датасета.

Не ясно, что представляют из себя колонки Value и Release Clause по смыслу. Поэтому не понятно, по какой логике можно было бы их дозаполнить.

Поля Contract Nationality, Club, Position, Contract Valid Untill по смыслу являются характеристиками конкретного футболиста, к тому же не числовыми, и не могут быть дозаполнены через значения остальных футболистов.

Единственное, что на мой взгляд можно дозаполнить - это некоторые числовые рейтинги футболистов International Reputation, Skill Moves.

Но сначала удалим дубликаты.

In [26]:
df.duplicated().sum()

0

Полных дубликатов нет, тем не менее, если бы они были, мы их удаляем.

In [27]:
df=df.drop_duplicates()

In [28]:
pd.options.display.max_rows = None
df['Nationality'].value_counts().sort_index()

Albania                  6
Algeria                  5
Angola                   3
Argentina               65
Armenia                  1
Australia               44
Austria                 17
Barbados                 1
Belgium                 23
Benin                    2
Bermuda                  1
Bolivia                 25
Bosnia Herzegovina       6
Brazil                 128
Bulgaria                22
Burkina Faso             1
Cameroon                19
Canada                  10
Cape Verde               5
Chad                     1
Chile                  131
China PR                25
Colombia                13
Comoros                  1
Costa Rica               2
Croatia                 24
Czech Republic          11
DR Congo                 5
Denmark                 23
Dominican Republic       2
Ecuador                 15
Egypt                   14
England                236
Estonia                  1
FYR Macedonia            1
Finland                  7
France                 116
Gabon                    3
Gambia                   2
Georgia                  3
Germany                217
Ghana                    7
Greece                   9
Guinea                   5
Guinea Bissau            4
Guyana                   1
Honduras                 5
Hungary                 16
Iceland                 13
India                   30
Iran                     1
Iraq                     1
Israel                   2
Italy                  135
Ivory Coast             24
Jamaica                  4
Japan                   26
Korea Republic           2
Kosovo                   3
Libya                    1
Lithuania                1
Luxembourg               1
Mali                     6
Mexico                   7
Moldova                  1
Montenegro               5
Montserrat               1
Morocco                 11
Mozambique               1
Netherlands             28
New Zealand             13
Nigeria                 18
Northern Ireland         7
Norway                   6
Panama                   2
Paraguay                25
Peru                    11
Philippines              1
Poland                  16
Portugal                69
Republic of Ireland     31
Romania                 18
Russia                  28
Scotland                32
Senegal                 12
Serbia                  13
Slovakia                 4
Slovenia                 9
South Africa            17
Spain                  300
Sudan                    1
Sweden                  31
Switzerland             49
Tanzania                 2
Thailand                 1
Togo                     1
Turkey                  21
Ukraine                  4
United States            7
Uruguay                 19
Venezuela               14
Wales                   22
Name: Nationality, dtype: int64

In [29]:
df['Club'].value_counts().sort_index()

1. FC Heidenheim 1846             28
1. FC Kaiserslautern              26
1. FC Köln                        28
1. FC Magdeburg                   26
1. FC Nürnberg                    29
1. FC Union Berlin                28
1. FSV Mainz 05                   32
AS Béziers                        26
AS Monaco                         33
Aalborg BK                         1
Arsenal                           33
Aston Villa                       30
Atalanta                          24
BSC Young Boys                    24
Bayer 04 Leverkusen               26
Borussia Dortmund                 33
Borussia Mönchengladbach          30
Brescia                           30
Brighton & Hove Albion            32
Brisbane Roar                     23
Bristol City                      30
Bristol Rovers                    28
Burnley                           33
Bursaspor                         30
Burton Albion                     28
Bury                              28
CA Osasuna                        25
CD Antofagasta                    28
CD Aves                           28
CD Everton de Viña del Mar        27
CD Feirense                       26
CD Huachipato                     27
CD Leganés                        33
CD Lugo                           30
CD Nacional                       26
CD Numancia                       28
CD O'Higgins                      28
CD Palestino                      28
CD Tenerife                       30
CD Tondela                        25
CD Universidad de Concepción      27
CF Rayo Majadahonda               26
CF Reus Deportiu                  28
Cagliari                          24
Cambridge United                  28
Cardiff City                      33
Carlisle United                   25
Carpi                             30
Ceará Sporting Club               20
Celtic                            28
Central Coast Mariners            25
Cerezo Osaka                      30
Chamois Niortais Football Club    28
Changchun Yatai FC                28
Chapecoense                       20
Charlton Athletic                 28
Chelsea                           33
Cádiz CF                          30
Córdoba CF                        26
FC Barcelona                      33
FC Basel 1893                     27
FC Bayern München                 29
FC Heidenheim 1846                 1
FC Köln                            1
FC Porto                          28
Fc Barcelona                       2
Inter                             24
Juventus                          25
Lazio                             32
Liverpool                         33
Livingston FC                      1
Lokomotiv Moscow                  28
Malmö FF                          27
Manchester City                   33
Manchester United                 33
Milan                             27
Paris Saint-Germain               30
Real Madrid                       33
Roma                              26
Sevilla FC                        30
Udinese                           30
Name: Club, dtype: int64

In [30]:
df['Club']=df['Club'].str.replace('1. ','')
df['Club']=df['Club'].str.lower()
df['Club'].value_counts().sort_index()

<ipython-input-30-b55be4cb9c4b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Club']=df['Club'].str.replace('1. ','')

aalborg bk                         1
arsenal                           33
as béziers                        26
as monaco                         33
aston villa                       30
atalanta                          24
bayer 04 leverkusen               26
borussia dortmund                 33
borussia mönchengladbach          30
brescia                           30
brighton & hove albion            32
brisbane roar                     23
bristol city                      30
bristol rovers                    28
bsc young boys                    24
burnley                           33
bursaspor                         30
burton albion                     28
bury                              28
ca osasuna                        25
cagliari                          24
cambridge united                  28
cardiff city                      33
carlisle united                   25
carpi                             30
cd antofagasta                    28
cd aves                           28
cd everton de viña del mar        27
cd feirense                       26
cd huachipato                     27
cd leganés                        33
cd lugo                           30
cd nacional                       26
cd numancia                       28
cd o'higgins                      28
cd palestino                      28
cd tenerife                       30
cd tondela                        25
cd universidad de concepción      27
ceará sporting club               20
celtic                            28
central coast mariners            25
cerezo osaka                      30
cf rayo majadahonda               26
cf reus deportiu                  28
chamois niortais football club    28
changchun yatai fc                28
chapecoense                       20
charlton athletic                 28
chelsea                           33
cádiz cf                          30
córdoba cf                        26
fc barcelona                      35
fc basel 1893                     27
fc bayern münchen                 29
fc heidenheim 1846                29
fc kaiserslautern                 26
fc köln                           29
fc magdeburg                      26
fc nürnberg                       29
fc porto                          28
fc union berlin                   28
fsv mainz 05                      32
inter                             24
juventus                          25
lazio                             32
liverpool                         33
livingston fc                      1
lokomotiv moscow                  28
malmö ff                          27
manchester city                   33
manchester united                 33
milan                             27
paris saint-germain               30
real madrid                       33
roma                              26
sevilla fc                        30
udinese                           30
Name: Club, dtype: int64

После замены еще раз проверяем на полные дубликаты и удаляем их.

In [31]:
df.duplicated().sum()

4

In [32]:
df=df.drop_duplicates()
df.duplicated().sum()

0

In [33]:
df['Preferred Foot'].value_counts()

Right    1840
Left      555
Name: Preferred Foot, dtype: int64

In [34]:
df['Position'].value_counts()

GK     274
ST     270
CB     233
CM     190
LB     188
RB     183
RM     148
LM     129
CDM    127
CAM    123
LCB     86
RCB     81
LCM     53
LW      52
RCM     47
RW      45
RS      29
LDM     29
RDM     27
LS      26
RWB     10
LWB      8
CF       7
RAM      3
LAM      3
LF       2
RF       1
Name: Position, dtype: int64

В остальных столбцах со строковыми значениями ничего подозрительного не нашлось.

Теперь найдем строки с повторяющимися именами.

In [35]:
dup_names=df[df.duplicated(subset=['Name'], keep=False)].sort_values(by='Name', ascending=True)
dup_names

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
710,A. Donnarumma,27,Italy,66,67,milan,500.0,15,Right,1.0,1.0,GK,2017,01/01/2021,6.333333,212.0,888.000000
783,A. Donnarumma,27,Italy,75,75,brescia,7000.0,6,Right,1.0,3.0,LS,2018,01/01/2022,5.916667,165.0,10900.000000
1294,A. Miranchuk,22,Russia,74,81,lokomotiv moscow,8000.0,1,Right,1.0,3.0,CAM,2012,01/01/2019,6.000000,159.0,18400.000000
1075,A. Miranchuk,22,Russia,77,82,lokomotiv moscow,12000.0,1,Left,1.0,3.0,CAM,2012,01/01/2021,6.000000,163.0,26100.000000
2114,B. White,26,Australia,56,59,brisbane roar,80.0,1,Right,1.0,1.0,GK,2017,01/01/2019,6.000000,165.0,106.000000
1707,B. White,20,England,61,76,brighton & hove albion,500.0,5,Right,1.0,2.0,CB,2015,01/01/2021,6.000000,159.0,1300.000000
1985,Bastos,26,Spain,66,69,cf reus deportiu,650.0,3,Right,1.0,3.0,RB,2018,01/01/2021,5.583333,154.0,1100.000000
1174,Bastos,26,Angola,78,79,lazio,NaN,44,Right,2.0,2.0,CB,2016,01/01/2020,5.916667,170.0,17800.000000
805,Bernardo,24,Spain,71,78,cd lugo,2800.0,5,Right,1.0,2.0,CB,2017,01/01/2019,6.250000,187.0,5100.000000
1730,Bernardo,23,Brazil,75,80,brighton & hove albion,7500.0,33,Left,1.0,3.0,LB,2018,01/01/2022,6.083333,168.0,14800.000000
1594,C. Gutiérrez,21,Canada,66,78,cd huachipato,1000.0,2,Left,1.0,2.0,LB,2016,31/12/2018,5.916667,154.0,4585.060806
2110,C. Gutiérrez,18,Chile,52,70,cd antofagasta,100.0,1,Right,1.0,2.0,ST,2016,01/01/2021,5.500000,143.0,198.000000
1248,D. Bejarano,24,Bolivia,63,66,NaN,NaN,0,Left,1.0,2.0,RM,2016,NaN,6.000000,163.0,4585.060806
1178,D. Bejarano,26,Bolivia,65,66,NaN,NaN,0,Right,1.0,2.0,CB,2016,NaN,5.750000,154.0,4585.060806
892,Felipe,29,Brazil,83,83,fc porto,20000.0,22,Right,3.0,2.0,RCB,2016,01/01/2021,6.250000,190.0,40000.000000
361,Felipe,30,Brazil,70,70,cd nacional,1300.0,6,Right,1.0,2.0,LCB,2017,01/01/2020,6.166667,185.0,2800.000000
2332,Guerrero,20,Spain,62,70,cf reus deportiu,375.0,1,Left,1.0,2.0,LB,2018,01/01/2021,5.750000,163.0,656.000000
2394,Guerrero,16,Spain,63,76,cf rayo majadahonda,625.0,1,Left,1.0,3.0,CM,2018,01/01/2019,5.916667,165.0,1400.000000
87,H. Herrera,28,Mexico,81,81,fc porto,17500.0,20,Right,3.0,3.0,CM,2013,01/01/2019,6.000000,159.0,35000.000000
1979,H. Herrera,20,Chile,56,66,cd o'higgins,140.0,1,Right,1.0,2.0,CM,2017,01/01/2018,5.916667,163.0,217.000000
857,J. Murphy,23,England,70,77,cardiff city,2500.0,21,Right,1.0,3.0,LM,2018,01/01/2022,5.666667,148.0,5500.000000
14,J. Murphy,36,Republic of Ireland,62,62,bury,40.0,1,Left,1.0,1.0,GK,2017,01/01/2019,6.166667,194.0,70.000000
641,J. Rodríguez,26,Colombia,88,89,fc bayern münchen,69500.0,315,Left,4.0,4.0,LAM,2016,30/06/2019,5.916667,172.0,4585.060806
555,J. Rodríguez,33,Uruguay,69,69,cd palestino,650.0,3,Left,1.0,3.0,CAM,2018,01/01/2018,5.666667,143.0,878.000000
1250,J. Rodríguez,22,Colombia,66,76,cd tenerife,1000.0,3,Right,1.0,3.0,ST,2014,01/01/2019,5.833333,157.0,1900.000000
1461,J. Sambenito,26,Paraguay,71,74,NaN,NaN,0,Right,1.0,2.0,ST,2016,NaN,6.000000,190.0,4585.060806
1458,J. Sambenito,26,Paraguay,65,65,NaN,NaN,0,Right,1.0,3.0,ST,2016,NaN,5.750000,159.0,4585.060806
657,João Pedro,26,Brazil,76,79,cagliari,9500.0,30,Right,1.0,4.0,LS,2014,01/01/2022,6.000000,161.0,16900.000000
1441,João Pedro,21,Brazil,72,81,fc porto,4100.0,6,Right,1.0,3.0,RB,2018,01/01/2023,5.833333,161.0,9100.000000
186,Juan Carlos,30,Spain,68,68,cd numancia,575.0,4,Right,1.0,1.0,GK,2018,01/01/2020,6.000000,168.0,920.000000
593,Juan Carlos,30,Spain,71,71,cd lugo,1500.0,5,Right,1.0,1.0,GK,2017,01/01/2019,6.166667,181.0,2400.000000
1527,L. Pellegrini,22,NaN,78,84,roma,14000.0,51,Right,2.0,3.0,CM,2017,01/01/2022,6.083333,170.0,26600.000000
2203,L. Pellegrini,19,Italy,65,79,roma,1000.0,5,Left,1.0,2.0,LB,2017,01/01/2022,5.833333,159.0,2400.000000
833,M. Wagué,27,Mali,73,75,udinese,3900.0,19,Right,1.0,2.0,CB,2017,01/01/2019,6.250000,192.0,7300.000000
1907,M. Wagué,19,Senegal,69,81,fc barcelona,1600.0,20,Right,1.0,3.0,RB,2018,01/01/2023,5.833333,154.0,3600.000000
150,Miranda,33,Brazil,85,85,inter,15500.0,96,Right,3.0,2.0,CB,2017,01/01/2020,6.083333,172.0,26400.000000
2076,Miranda,18,Spain,66,81,fc barcelona,1200.0,12,Left,1.0,2.0,LB,2018,01/01/2021,6.083333,168.0,3200.000000
1054,R. Williams,26,South Africa,67,72,NaN,NaN,0,Right,1.0,1.0,GK,2016,NaN,6.000000,157.0,4585.060806
1908,R. Williams,19,England,64,79,manchester united,875.0,8,Right,1.0,2.0,CB,2016,01/01/2019,6.000000,165.0,2200.000000
719,Rafinha,25,Brazil,82,87,fc barcelona,29500.0,165,Left,2.0,4.0,CAM,2013,01/01/2020,5.750000,157.0,62700.000000
149,Rafinha,32,Brazil,76,76,fc bayern münchen,4300.0,53,Right,2.0,3.0,RB,2011,01/01/2019,5.666667,150.0,7000.000000
1498,S. Abdullahi,21,Nigeria,71,79,fc union berlin,3600.0,4,Right,1.0,3.0,RW,2016,30/06/2019,6.083333,190.0,4585.060806
1556,S. Abdullahi,25,Nigeria,72,75,bursaspor,3300.0,12,Right,1.0,2.0,CB,2018,01/01/2020,5.916667,159.0,6800.000000
156,S. Sinclair,29,England,75,75,celtic,6500.0,48,Right,2.0,4.0,LM,2016,01/01/2020,5.833333,154.0,11700.000000
191,S. Sinclair,30,England,60,60,bristol rovers,190.0,2,Right,1.0,2.0,CM,2014,01/01/2019,5.583333,148.0,333.000000
460,T. Müller,28,Germany,86,86,fc bayern münchen,45000.0,135,Right,4.0,3.0,CAM,2008,01/01/2021,6.083333,165.0,74300.000000
2018,T. Müller,23,Germany,65,69,fc magdeburg,600.0,3,Right,1.0,2.0,RCB,2018,01/01/2020,6.166667,174.0,975.000000

Допустим, среди них есть тезки. Поищем уникальных футболистов по критерию Name, Age, Nationality, Preffered Foot.

In [36]:
dup_names=df[df.duplicated(subset=['Name','Age','Nationality','Preferred Foot'], keep=False)].sort_values(by='Name', ascending=True)
dup_names

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
710,A. Donnarumma,27,Italy,66,67,milan,500.0,15,Right,1.0,1.0,GK,2017,01/01/2021,6.333333,212.0,888.000000
783,A. Donnarumma,27,Italy,75,75,brescia,7000.0,6,Right,1.0,3.0,LS,2018,01/01/2022,5.916667,165.0,10900.000000
1458,J. Sambenito,26,Paraguay,65,65,NaN,NaN,0,Right,1.0,3.0,ST,2016,NaN,5.750000,159.0,4585.060806
1461,J. Sambenito,26,Paraguay,71,74,NaN,NaN,0,Right,1.0,2.0,ST,2016,NaN,6.000000,190.0,4585.060806
186,Juan Carlos,30,Spain,68,68,cd numancia,575.0,4,Right,1.0,1.0,GK,2018,01/01/2020,6.000000,168.0,920.000000
593,Juan Carlos,30,Spain,71,71,cd lugo,1500.0,5,Right,1.0,1.0,GK,2017,01/01/2019,6.166667,181.0,2400.000000

A. Donnarumma мог играть в двух клубах параллельно - оставляем.

J. Sambenito - полные тезки/братья, либо какая-то из строк неверна. Но по значениям не ясно, какая именно - оставляем.

Juan Carlos - тезки/братья в разных клубах - оставляем.

Теперь дозаполним числовые рейтинги футболистов International Reputation, Skill Moves.

In [37]:
df['International Reputation']=df['International Reputation'].fillna(df['International Reputation'].mean())
df['Skill Moves']=df['Skill Moves'].fillna(df['Skill Moves'].mean())
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2395 entries, 0 to 2398
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      2395 non-null   object
 1   Age                       2395 non-null   int64
 2   Nationality               2388 non-null   object
 3   Overall                   2395 non-null   int64
 4   Potential                 2395 non-null   int64
 5   Club                      2154 non-null   object
 6   Value                     2138 non-null   float64
 7   Wage                      2395 non-null   int64
 8   Preferred Foot            2395 non-null   object
 9   International Reputation  2395 non-null   float64
 10  Skill Moves               2395 non-null   float64
 11  Position                  2374 non-null   object
 12  Joined                    2395 non-null   int64
 13  Contract Valid Until      2122 non-null   object
 14  Height                    2395 non-null   float64
 15  Weight                    2395 non-null   float64
 16  Release Clause            2392 non-null   float64
dtypes: float64(6), int64(5), object(6)
memory usage: 336.8+ KB

In [38]:
df['Age Category']=['before 20' if i<20 else 'after 20' for i in df['Age']]
df.sample(10)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Age Category
2389,J. Cifuente,25,Ecuador,68,70,NaN,NaN,0,Right,1.0,3.0,ST,2016,NaN,5.833333,170.0,4585.060806,after 20
1242,B. Mkhwanazi,28,South Africa,69,70,NaN,NaN,0,Right,1.0,2.0,RCB,2016,NaN,6.000000,165.0,4585.060806,after 20
2070,Berrocal,18,Spain,66,80,sevilla fc,1200.0,2,Right,1.0,2.0,CB,2017,01/01/2022,6.000000,159.0,3300.000000,before 20
75,B. Rotenberg,32,Finland,63,63,lokomotiv moscow,200.0,1,Right,1.0,2.0,RB,2016,01/01/2019,6.166667,185.0,420.000000,after 20
1027,R. De Paul,24,Argentina,77,83,udinese,12000.0,27,Right,1.0,4.0,LW,2016,01/01/2023,5.833333,154.0,24000.000000,after 20
2326,Lombo,19,Spain,60,69,cd leganés,230.0,1,Right,1.0,1.0,GK,2018,01/01/2019,6.000000,165.0,529.000000,before 20
521,I. El Adoua,31,Morocco,70,70,cd aves,1200.0,7,Right,1.0,2.0,CDM,2018,01/01/2019,6.166667,174.0,2500.000000,after 20
588,L. Sobiech,27,Germany,74,74,fc köln,4700.0,17,Right,1.0,2.0,CB,2018,01/01/2022,6.416667,194.0,7100.000000,after 20
2247,Patrick,24,Cape Verde,65,69,cd tondela,725.0,2,Right,1.0,2.0,ST,2018,01/01/2021,6.250000,161.0,1600.000000,after 20
2140,M. Virtue,21,England,59,71,liverpool,250.0,8,Right,1.0,2.0,CDM,2017,01/01/2019,5.750000,146.0,525.000000,after 20

In [39]:
def calc_age_category(age):
  if age<20:
    return '[0;20)'
  if age>=20 and age<30:
    return '[20;30)'
  if age>=30 and age<=36:
    return '[30;36]'
  if age>36:
    return '>36'
  return 'error: age<0'

In [40]:
df['Age Category2']=df['Age'].apply(calc_age_category)
df.sample(10)

,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause,Age Category,Age Category2
636,D. Drexler,28,Germany,74,74,fc köln,5500.0,20,Right,1.0,3.0,LCM,2018,01/01/2022,6.000000,157.0,8300.000000,after 20,[20;30)
2362,L. Haquin,20,Bolivia,65,72,NaN,NaN,0,Right,1.0,2.0,LCB,2016,NaN,5.916667,168.0,4585.060806,after 20,[20;30)
535,D. Mayor,27,England,66,66,bury,675.0,5,Right,1.0,4.0,LCM,2014,01/01/2019,6.000000,168.0,1200.000000,after 20,[20;30)
1054,R. Williams,26,South Africa,67,72,NaN,NaN,0,Right,1.0,1.0,GK,2016,NaN,6.000000,157.0,4585.060806,after 20,[20;30)
1889,Q. Bena,20,France,62,72,chamois niortais football club,425.0,1,Right,1.0,2.0,RB,2017,01/01/2020,6.083333,174.0,829.000000,after 20,[20;30)
127,T. Kristensen,35,Denmark,70,70,brisbane roar,425.0,3,Right,1.0,3.0,RDM,2016,01/01/2019,6.166667,174.0,531.000000,after 20,[30;36]
946,A. Szymanowski,29,Argentina,77,77,cd leganés,8500.0,31,Left,2.0,4.0,LM,2015,01/01/2020,5.750000,143.0,17900.000000,after 20,[20;30)
2315,Sergio López,19,Spain,64,80,real madrid,875.0,9,Right,1.0,3.0,RB,2018,01/01/2019,5.833333,146.0,2300.000000,before 20,[0;20)
2346,C. Ortiz,31,Venezuela,55,55,cd huachipato,80.0,1,Right,1.0,2.0,ST,2018,01/01/2018,6.000000,174.0,108.000000,after 20,[30;36]
660,T. Beermann,27,Germany,69,70,fc heidenheim 1846,1000.0,6,Left,1.0,2.0,LCB,2013,01/01/2020,6.166667,187.0,1600.000000,after 20,[20;30)

In [41]:
df['Age Category2'].value_counts()

[20;30)    1645
[30;36]     466
[0;20)      269
>36          15
Name: Age Category2, dtype: int64